:root {
  --mdc-theme-primary: #fff200 !important;
  --mdc-theme-secondary: #fff200 !important;
  --mdc-theme-on-primary: #212121 !important;
  --mdc-theme-on-secondary: #212121 !important;
  /* --mdc-theme-surface: red !important; */
  --mdc-theme-background: red !important;
  --loader-1: #4f4d49;
  --loader-2: #dfdfdf;
}

body {
  margin: 0;
  padding: 0;
}

#header {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header > div:nth-child(1) {
  background-image: url('../imgs/uniandes-logo.png');
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

#header > div:nth-child(2) {
  background-image: url('../imgs/MOU-logo.png');
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-right: 30px;
}

#header > button {
  position: absolute;
  padding: 0px 20px;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

#action-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

#action-container > div > .mdc-form-field {
  display: grid;
}

#action-container > div > .mdc-form-field > div {
  display: flex;
  margin: auto;
}

#action-container > div > .mdc-form-field > div > label {
  padding: 0.7em 0;
  cursor: pointer;
}

#action-container > div:nth-child(2) > .mdc-button {
  background-color: #fff200;
  color: black;
}

#action-container > div:nth-child(2) > .mdc-button.disabled {
  background-color: lightgray;
  color: gray;
  box-shadow: none;
}

#action-container > div:nth-child(2) > .mdc-button.disabled:hover {
  box-shadow: none;
}

#state-container {
  padding: 50px 50px 100px;
}

#state-container > .mdc-data-table {
  width: 100%;
}

#state-container > div.hidden {
  display: none;
}

#state-container > .cssload-spin-box {
  top: 60px;
}

.mdc-data-table__header-row > th {
  text-align: center;
}

#footer {
  bottom: 0;
  position: fixed;
  height: 30px;
  width: 100%;
  text-align: right;
  background-color: white;
  box-shadow: 0 -1px 7px -5px;
  padding: 5px 0 0;
}

#footer > span {
  padding: 0 10px;
  position: relative;
  font-size: 0.8em;
  cursor: pointer;
}

#footer > span > span {
  background-image: url('../imgs/polyglot-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  width: 12px;
  display: inline-block;
}

table > * > tr,
table > * > tr > * {
  text-align: center;
}

button.mdc-fab {
  position: fixed;
  bottom: 40px;
  right: 10px;
}

button.mdc-fab > span {
  color: black;
}

button.mdc-fab.hidden {
  display: none;
}

thead > tr > .mdc-data-table__header-cell {
  text-transform: capitalize !important;
  font-weight: bold !important;
  text-align: center;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#modal > #modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  box-shadow: 0 1px 10px -5px;
  padding: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

#modal > #bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#modal > #modal-container > #modal-btns {
  text-align: right;
  padding: 20px 0 0;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-on-primary) !important;
}

.mdc-text-field {
  display: block !important;
  margin: 15px 0;
}

#copy-btn {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

#copy-btn > i {
  font-size: 1.2em;
}

.mdc-dialog__content > div:nth-child(2) {
  display: flex;
}
